
 body {
     background-color: #fff;
     margin: 0;
     /*this will remove every outer space from body*/
     padding: 0;
     /*this will remove every inner space from body*/
     font-family: "Lucida Grande", "Lucida Sans Unicode",
         "Lucida Sans", Verdana, Tahoma, sans-serif;
     font-size: 0.5em;
 }
 /* h1 {
    color: palevioletred;
    text-align: center;
 }

 .content:first-letter {
     color: red;
     font-weight: bold;
     font-size: 200%;
 }

 .article:before {
     content: "Yes, I do"
 }
 .article:after {
     content: "No, I dont"
 }

 a:link {
    color:blue;
 }
 a:visited {
    color:black;
 }
 a:hover {
    color:brown;
 }
 a:active {
    color:crimson;
 }

 input[type="text"] {
     color: red;
     background-color: #ff00ff;
 }
 .one {
     font-size: 2rem;
 }
  .two {
      font-size: 1.5rem;
  }
  .three {
      font-size: 1.2rem
  }
  .system-font-stack {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  } */
  /* p.container
  {
        width: 250px;
        height: 250px;
        border: 2px solid red;
        background-color: rgb(189, 195, 199);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
  } */

/* .wrapper {
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-bottom: 40px;
        margin-right: auto;
   }
 p {
     border: 2px solid #aaa;
     background-color: #8cacea;
     color: #fff;
 }

 p.paddingtest {
     padding: 2em;
 }

 p.margintest {
     margin: 5em;
 } */

 h1 {
    border-bottom: 1px ridge black;
 }

 p.drop-cap
 {
  color: pink;
  margin-top: -10px;
 }
 .highlight
 {
  color:yellow
 }
 .justify
 {
    margin-left: 10px;
    margin-right: 10px;
 }
 p.center 
 {
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
 }