
body {
    font-size: 2em;
    background-color: rgba(255, 255, 255,0.9);
    color:black;
    
}
 h1 {
    color: palevioletred;
    text-align: center;
 }

 .content:first-letter {
     color: red;
     font-weight: bold;
     font-size: 200%;
 }

 .article:before {
     content: "Yes, I do"
 }
 .article:after {
     content: "No, I dont"
 }

 a:link {
    color:blue;
 }
 a:visited {
    color:black;
 }
 a:hover {
    color:brown;
 }
 a:active {
    color:crimson;
 }

 input[type="text"] {
     color: red;
     background-color: #ff00ff;
 }
 .one {
     font-size: 2rem;
 }
  .two {
      font-size: 1.5rem;
  }
  .three {
      font-size: 1.2rem
  }
  .system-font-stack {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  p.container
  {
    color: #FF00DE;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }