:root {
    --secondary-bg: rgba(0, 0, 0, 0.9);
    --primary-bg: rgba(44, 62, 80, 1);
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: serif;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-body {
    width: 350px;
    height: 700px;
    border-radius: 30px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-inner {
    background: var(--primary-bg);
    height: 80%;
    width: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.8rem;
    border-radius: 5px;
}