:root {
    --secondary-bg: rgba(0, 0, 0, 0.9);
    --primary-bg: rgba(44, 62, 80, 1);
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: serif;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-body {
    width: 350px;
    height: 700px;
    border-radius: 30px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

article {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.8rem;
    border-radius: 5px;
}

.phone-inner {
    background: var(--primary-bg);
    height: 80%;
    width: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.phone-inner:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blue;
    position: absolute;
    top: 10px;
    left: 150px;
}
.phone-inner:after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 150px;
}